{% extends 'base.html.twig' %}

{% block title %}Restaurants
{% endblock %}

{% block body %}
	<div class="text-center">
		<h1>Listes des utilisateurs</h1>
	</div>

	<div class="album py-5 bg-info">
		<div class="container">
			<div class="text-center py-3"></div>
			<div class="row">
				{% for user in users %}
					<div class="col-md-4">
						<div class="card mb-4 shadow-sm">
							<div class="card bg-dark text-center px-3 py-3">
								<h4 class="card-title text-white">{{user.email}}
									</h4>
							</div>
						</div>
    				</div>
				{% endfor %}
    		</div>
	</div>
</div>
{% endblock %}
